@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
/* Dark Theme */
  --dark-rim: #0D1B2A;
  --dark-bg: #1B263B;
  --dark-accent: #00A8E8;
  --dark-fore: #E0E1DD;
  --dark-button: #1D3557;
  --dark-second: #3A506B;
  --dark-ph: #A0AEC0;

/* Light Theme */
  --light-rim: #F4F9FF;
  --light-bg: #E9F2FA;
  --light-accent: #0077B6;
  --light-fore: #1B1F23;
  --light-button: #1D4E89;
  --light-second: #A8C0D6;
  --light-ph: #6B7280;
}

*{
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  border: none;
}

